#startReact{
    background-color: #1abc9c;
    font-family: "Montserrat", sans-serif;
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.reactStart-content img{
    width: 250px;
}
.reactStart-content h1{
    font-size: 4rem;
    line-height: 3.5rem;
    font-weight: 600;
    margin: 2rem;
}

.reactStart-content p{
    font-size: 1.5rem;
    font-weight: 300;
    margin-top: 1.3rem;
}
.reactStart-content .icon-div{
    width: 100%;
    width: 7rem;
    height: 0.25rem;
    background-color: white;
    border-radius: 1rem;
    
}